
/*variables*/

$rjoclaro : rgb(167, 28, 28);
$rojoobscuro : rgb(52, 10, 10) ;
$amarilloobscuro: #bdab23;
$amarilloclaro:#e9d47e;
$carousel-control-color: rgb(52, 10, 10);
$carousel-dark-indicator-active-bg:  rgb(167, 28, 28);
$carousel-dark-caption-color:        rgb(52, 10, 10);
$carousel-dark-control-icon-filter:  none;
$carousel-caption-color: $rjoclaro;

$gray-darker:               #444444;
$gray-dark:                 #696969;
$gray:                      #999999;
$gray-light:                #cccccc;
$gray-lighter:              #ececec;
$gray-lightest:             lighten($gray-lighter,4%);
